$color-black: #000000;
$color-white: #ffffff;
$color-gray: #e0e0e0;
$color-darkgray: #5c5c5c;

$fontsize-logo: 36px;
$fontsize-h1: 40px;
$fontsize-h3: 36px;
$fontsize-p: 16px;
$fontsize-btn: 20px;
$fontsize-a: 20px;

$header-height: 80px;

$breakpoint-small: 0px;
$breakpoint-medium: 480px;
$breakpoint-large: 720px;
